<a mat-raised-button href="/users">User List</a>
<mat-card>
    <mat-card-title>Update</mat-card-title>
    <mat-card-content>
        <form [formGroup]="updationForm" (ngSubmit)="updationForm.valid && submit()" novalidate>
                <p>{{user.id}}</p>
            <mat-form-field>
                <input type="text" matInput placeholder="First Name" formControlName="firstName"
                    [(ngModel)]="user.firstName">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Last Name" formControlName="lastName"
                    [(ngModel)]="user.lastName">
            </mat-form-field>
            <mat-form-field>
                <input type="email" matInput placeholder="Email-ID" formControlName="email" [(ngModel)]="user.email">

            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Phone number</mat-label>
                <input type="tel" matInput placeholder="9010203040" formControlName="phoneNumber" [(ngModel)]="user.phoneNumber"/>
                <!-- <mat-icon matSuffix>phone</mat-icon> -->
                <mat-hint>Include area code</mat-hint>
              </mat-form-field>
              <!-- <app-image-upload (imageEvent)="uploadImage($event)"></app-image-upload> -->
            <div class="button">
                <button mat type="submit" mat-raised-button color="primary"
                    [disabled]="!updationForm.valid">Update</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>